.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* p,label,h1,input::-webkit-input-placeholder,input::-ms-input-placeholder,input::-moz-placeholder{
  font-family: 'Montserrat', sans-serif;
}

.login-container{
  display:inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-container p{
  text-align: center;
}

.signup-link{
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.signup-link a{
  text-decoration: none;
  color: #F94A29;
  font-weight: 500;
}


.login-form{
  flex-direction: column;
  display:flex;
  gap: 32px;
}

.login-form div{
  flex-direction: column;
  display:inline-flex;
  gap: 22px;
}

.login-form div input{
  border-style: none;
  border: none;
  width: 503px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 18, 38, 0.5);
}

.login-form div input ,input:-webkit-input-placeholder,input:-ms-input-placeholder,input:-moz-placeholder{
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px
}


.login-btn{
  display:inline-flex;
  flex-direction: row;
  width:100%;
  align-items: center;
  justify-content: center;
  gap: 16px
}

.login-submit-btn{
  color: #FFF;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login-submit-btn a{
  padding: 19px 64px;
  background: #F94A29;
  color: #fffcfc;
  border-radius: 100px;
  display: inline-flex;
  cursor: pointer;
}

.login-submit-btn a:hover{
  border-color: #fff;
  background: #666;
  color: #fff;
}

.sso-submit-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #0000001c;
  padding: 18px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 100px;
}

.sso-submit-btn img{
    height: 31px;
} */